<% layout("layouts/boilerplate") %>

<div class="row pt-5">
  <div class="col-6 offset-3 text-center alert alert-danger">
    <h3 class="alert-heading"><%=err.message%></h3>
    <p><%=err.stack%></p>
    <hr />
    <p class="mb-0 text-center">Oops!</p>
  </div>
</div>
