<% layout("layouts/boilerplate") %>

<div class="frame">
  <header class="header">
    <div class="heading-box">
      <h1 class="primary-heading">
        <span class="primary-heading-top"> Gym Ferret </span>
        <span class="primary-heading-bottom"> Ditch your commercial gym! </span>
      </h1>
      <a
        href="/gyms"
        class="heading-button heading-button-white heading-button-animated"
        >Find Out How!</a
      >
    </div>
  </header>
</div>
