<% layout("layouts/boilerplate") %>

<div class="frame">
  <header class="header">
    <div class="logo-box">
      <img src="/img/logo-white.png" alt="Logo" class="logo" />
    </div>

    <div class="heading-box">
      <h1 class="primary-heading">
        <span class="primary-heading-top"> Gym Ferret </span>
        <span class="primary-heading-bottom"> Ditch your commercial gym! </span>
        <a href="/gyms" class="heading-button heading-button-white"
          >Find Out How!</a
        >
      </h1>
    </div>
  </header>
</div>
