.color-primary, .btn-primary {
    background-color: purple;
    color:ghostwhite;
}
.color-secondary, .btn-secondary {
    background-color: purple;
    color:ghostwhite;
}
.color-tertiary {
    background-color: purple;
    color:ghostwhite;
}
.color-article {
    background-color: purple;
    color:ghostwhite;
}