<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a Gym</title>
</head>
<body>
    <h1>Add a Gym:</h1>
    <form action="/gyms" method="post">
        <label for="name">Name:</label>
        <input type="text" name="name" id="name" placeholder = "Enter a name for your gym">
        <br>
        <label for="price" >Price:</label>
        <input type="Number" value="0" name="price" id="price"><br>
        <label for="location">Location:</label>
        <input type="text" name="location" id="location" placeholder="Gym Location">
        <br>
        <label for="description">Description:</label><br>
        <textarea name="description" id="description" cols="90" rows="10"></textarea>
        <br>
        <button>Submit</button>
    </form>
</body>
</html>